* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(Arial, Helvetica, sans-serif);
}

img {
  max-width: 100%;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

fieldset {
  border: 0;
  padding: 0.01em 0 0 0;
  margin: 0;
  min-width: 0;
}

.headercontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2%;
}

.headercontainer-right nav ul {
  display: flex;
  gap: 20px;
}

.headercontainer-right nav ul li a {
  color: black;
}

.maincontenedor {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.maincontenedor-left {
  width: 50%;
  padding: 5%;
  background-color: #00ff40;
}

.maincontenedor-left h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 55px;
  line-height: 70px;
  letter-spacing: 10px;
  padding: 5%;
}

.maincontenedor-left p {
  color: #8b8b8b;
  letter-spacing: 5px;
}

.maincontenedor-left .cont-btn {
  display: flex;
}

.maincontenedor-left .btn, .maincontenedor-left .btn-1, .maincontenedor-left .btn-2 {
  padding: 5%;
  background-color: #03faee;
  border-radius: 5%;
}

.maincontenedor-left .btn-1 {
  color: red;
}

.maincontenedor-left .btn-2 {
  color: blueviolet;
}

.maincontenedor-right {
  background-color: #f8f8f8;
  background-color: #ff00c8;
}
