* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(Arial, Helvetica, sans-serif);
}

img {
  max-width: 100%;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

fieldset {
  border: 0;
  padding: 0.01em 0 0 0;
  margin: 0;
  min-width: 0;
}

.headercontainer {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2%;
}

.headercontainer-right nav ul {
  display: flex;
  gap: 20px;
}

.headercontainer-right nav ul li a {
  color: black;
}

.footercontenedor {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 1%;
}

.footercontenedor-left {
  display: flex;
  align-items: center;
}

.footercontenedor-right {
  display: flex;
  gap: 15px;
}

.footercontenedor-right .social, .footercontenedor-right .social-1, .footercontenedor-right .social-2, .footercontenedor-right .social-3 {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: space-around;
  border-radius: 50%;
  box-shadow: -8px 0px #92f7f2;
}

.footercontenedor-right .social img, .footercontenedor-right .social-1 img, .footercontenedor-right .social-2 img, .footercontenedor-right .social-3 img {
  max-width: 30%;
}
