.headercontainer {
  max-width: $maxw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2%;
  &-left {
    h1 {
    }
  }

  &-right {
    nav {
      ul {
        display: flex;
        gap: 20px;
        li {
          a {
            color: black;
          }
        }
      }
    }
  }
}
