$maxw: 1440px;
$fon1: Arial, Helvetica, sans-serif;
$fon2: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
$ColorPrimario: #03faee;
$ColorSecundario: #f8f8f8;
$ColorTerceario: #8b8b8b;
$imgbackground: #f8f8f8;
$Colorbackground: #d3c8c8;
$shadow1: -8px 0px #92f7f2;
